body {
  font-family: 'Pretendard', sans-serif;
  background-color: #fffaf3;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffb347;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  padding: 2rem;
  text-align: center;
}

select, button, input, textarea {
  padding: 0.6rem;
  margin: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  background-color: #ff8c42;
  color: white;
  border: none;
  cur
